/*banner nav*/
.home-banner-message {
    padding: 10px 0;
    background-color: rgb(49, 2, 49);
    overflow: hidden;
}

.home-banner-message {
    padding: 15px 0;
}

.home-banner-message.home-home {
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

.home-banner-message .container {
    padding: 0;
}

.home-banner-message__header .container {
    max-width: 1200px;
}

.home-banner-message-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.home-banner-message-list .home-message {
    padding: 20px;
}

.home-banner-message-list .home-message {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
}

.home-banner-message-list .home-message span {
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -.36px;
    text-transform: uppercase;
    width: 100px;
    transition: color .3s;
}

.page-content {
    margin: 0 0 100px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1430px;
    padding: 0 20px;
    position: relative;
    width: 100%;
}

p {
    margin-bottom: 1.5rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 0;
}

h3 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -.03em;
    margin-bottom: 50px;
}

h4 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -.03em;
    margin-bottom: 50px;
}